@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins', sans-serif;

    background:
    linear-gradient(
    135deg,
    #e0e7ff,
    #c7d2fe,
    #ddd6fe
    );

    color:#1e1b4b;

    min-height:100vh;

}